.login_wrapper{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login_section{
    box-shadow: #333 0px 2px 4px;
    padding: 2rem 1rem;
    width: 320px;
    display: flex;
    justify-content: center;
}
.login_section .form-control{
    margin-bottom: 1rem;
    width: 100%;
    display: block;
}
.login_section .form-control:focus{
    outline: none;
    box-shadow: none;
}
.login_section .btn{
    display: block;
    cursor: pointer;
    width: 100%;
    background-color: #0747a9;
    border: 1px solid #0747a9;
    color: #fff;
    padding: 5px 0px;
}