body {
  overflow: hidden;
}

button {
  outline: none;
}

.btn:focus,
button:focus {
  outline: none !important;
}

.loader__main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loader__main>div {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border-top: 3px solid #000;
  animation: rotateLoader 1s linear infinite;
}

@keyframes rotateLoader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.home__main {
  width: 100vw;
  height: calc(100vh - 56px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.startQuizBtn {
  display: block !important;
  margin: 0 auto;
  margin-top: 30px;
}

label {
  display: block;
  width: 100%;
  margin-bottom: 7px;
}

label>input {
  margin-right: 5px;
}

.nextPrevBtn{
  border: none;
  padding: 7px 30px;
  border-radius: 7px;
  background-color: lightgreen;
  color: #000;
  margin-top: 30px;
}